* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Montserrat", sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    padding: 10px;
    background-color: #26608e;
}

nav ul {
    max-width: 1200px;
    padding: 0;
    justify-content: space-between;
}

.main-nav {
    display: flex;
}

nav ul li {
    display: inline;
    margin: 5px;
}

.nav-link {
    color: lightcyan;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s;
}

.nav-link:hover {
    color: yellowgreen;
}

.nav-dropdown {
    position: relative;
}

.sub-nav {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 35px;
    left: -20px;
    width: 170px;
    /* text-align: center; */
    background: #26608e;
    padding-bottom: 6px;
}

.sub-nav li {
    padding: 5px 10px 5px 20px;
}

/* .img-wrapper {
    height: 200px;
    overflow: hidden;
} */

.img-wrapper img {
    margin: 0 auto;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.img-wrapper-mean {
    background-color: #333333;
}

.img-wrapper-mern {
    background-color: #252d38;
}

.img-wrapper-java {
    background-color: #252d38;
    height: 200px !important;
}

.img-wrapper-java img {
    height: 160px;
    margin-top: 20px;
}


.slick-next {
    right: 7px !important;
}

.slick-prev {
    left: 7px !important;
    z-index: 10;
}


.test {
    min-height: calc(100vh - 290px);
}

footer {
    text-align: center;
    text-align: center;
    padding: 10px 40px;
    background-color: #252d38;
    color: lightcyan;
}

/* REGISTRATION */

.form-wrapper {
    margin: 50px auto;
    width: 40%;
    max-width: 400px;
    /* border: 1px solid black; */
    border-radius: 6px;
    /* background-color: lightgray; */
    padding: 30px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.15);
}

input {
    width: 100%;
    margin-bottom: 15px;
    height: 25px;
}

textarea {
    width: 100%;
    margin-bottom: 15px;
}

input[type=submit] {
    background-color: green;
    color: white;
    font-weight: bold;
    border: 0;
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    height: auto;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
}