body {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin: 5px;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
}

/* .img-wrapper {
    height: 200px;
    overflow: hidden;
} */

.img-wrapper img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}


.slick-next {
    right: 7px !important;
}

.slick-prev {
    left: 7px !important;
    z-index: 10;
}

/* 
.form-wrapper {
    border: 1px solid black;
    border-radius: 30px;
    width: 40%;
    background-color: green;
}

form {
    padding: 10px;
}

input, textarea {
    width: 90%;
}

label {
    display: block;
} */